<div class="container mb-5">
    <h2 class="p-2">Teklifleri Karşılaştır</h2>
</div>
@if(tableData) {
    <p-table [value]="tenderData" [tableStyle]="tableStyle"
    styleClass="p-datatable-striped" 
    >
        <ng-template pTemplate="header">
            <tr>
                @for(column of columns; track column; let i =$index) {
                    <th>{{ i===0 ?  'Poz No' : column }}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
            
                    <tr>
                        <td> {{row['key']}} </td>
                        <td> {{row['İş Tanımı']}} </td>
                        <td> {{row['Marka']}} </td>
                        <td> {{row['Miktar']}} </td>
                        <td> {{row['Birim']}} </td>
                        @for(data of tableData; track data) {
                            @for(col of otherCols; track col) {
                                <td> {{data[i][col]  }} </td>
                            }
                            
                        }
                    </tr>
             
        </ng-template>
    </p-table>
    
}
