<div class="container mb-5">
    <h2 class="p-2">Teklifleri Karşılaştır</h2>
</div>
@if(tableData) {
    <p-table [value]="tableData" [tableStyle]="tableStyle"
    styleClass="p-datatable-striped" 
    >
        <ng-template pTemplate="header">
            <tr>
                @for(column of columns; track column; let i =$index) {
                    @if(column.isBirim || column.isToplam) {
                        <th [attr.colspan]="bidsCountArray.length"> {{column.header}} </th>
                    }
                    @else {
                        <th rowspan="2" [pSortableColumn]="column.field">{{ i===0 ?  'Poz No' : column.header }}  
                            <p-sortIcon [field]="column.field"></p-sortIcon>
                        </th>
                    }
                    
                }
            </tr>
            <tr>
                @for(column of columns; track column; let i =$index) {
                    @if(column.isBirim || column.isToplam) {
                        @for(bid of bidsCountArray; track bid) {
                            <th> Teklif {{bid}} </th>
                        }
                    }
                    @else {
                        
                    }
                    
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
            
                    <tr>
                        <td> {{row.key }} </td>
                        <td> {{row.title }} </td>
                        <td> {{row.brand}} </td>
                        <td> {{row.amount}} </td>
                        <td> {{row.unit}} </td>
                        @for(unitPrice of row.unitPrices; track unitPrice) {
                            <td> {{unitPrice.price}} </td>
                        }
                        @for(totalPrice of row.totalPrices; track totalPrice) {
                            <td> {{totalPrice.price}} </td>
                        }
                    </tr>
             
        </ng-template>
    </p-table>
    
}
