@if (tender$ | async; as tender) {
<h2>
    {{tender.name}} İhalesi Firma Raporları
</h2>
@if (reports$ | async; as reports) { 
    <p-table [value]="reports" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Rapor Id</th>
                <th>Teklid Id</th>
                <th>Firma Adı</th>
                <th>Rapor durumu</th>
                <th>Detay</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.bid_id }}</td>
                <td>{{ report.company_name }}</td>
                <td>{{ report.isSent ? 'Gönderildi' : 'Gönderilmedi' }}</td>
                <td>
                    <p-button
                type="button"
                severity="danger"
                icon="pi pi-trash"
                class="mr-1"
                (onClick)="deleteReport(report.id)"
              ></p-button>
                    <p-button
                    type="button"
                    icon="pi pi-eye"
                  ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    
}
}