<app-teklif-olustur></app-teklif-olustur>
<div class="card flex justify-content-center border-1 border-solid surface-border border-round bg-white">
    <div class="flex-1 m-2 px-5 py-3">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">İhale Adı</label>
            <div class="col-12 md:col-9">
                <input type="text" [(ngModel)]="ihale.ihale_adi" disabled  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>

        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Para Birimi</label>
            <div class="flex flex-row mt-3">
                <input type="text" [(ngModel)]="ihale.para_birimi" disabled  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        
            </div>
        </div>

        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">İhale Açıklaması</label>
            <div class="col-12 md:col-9">
                <textarea type="text" rows="8"
                 [(ngModel)]="ihale.ihale_aciklamasi" disabled class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </textarea>
                </div>
        </div>

    </div>
    <div class="flex-1 m-2 px-5 py-3">
        <label class="col-12 mb-2 md:col-3 md:mb-0">İstenen Dökümanlar</label>
            
        <div class="field grid">
            <div class="col-12 md:col-8">
                @for(doc of documents; track doc.id) {
                    <div class="field grid">
                        <label class="col-12 mb-2 md:col-3 md:mb-0">{{doc.name}}</label>
                        @if(doc.type==='note') {
                            <textarea></textarea>
                        }
                        @else {
                            <input type="file">
                        }
                    </div>
                }
            </div>
        </div>
 
    </div>
</div>
<div class="flex justify-content-end mt-5">
    <p-button pRipple label="İlerle" icon="pi pi-arrow-right" class="mx-5" [routerLink]="['/teklifci/teklif-olustur/kesif']"></p-button>
</div>

