@if (bids$ | async; as bids) {
<div class="container mb-5">
  <h2 class="p-2">
    @if(tenderId) {
      <span> {{tenderId}} No'lu İhale  </span>
    }
    
    Tekliflerim</h2>
</div>

<div class="card">
  <p-table #myBids [value]="bids" sortMode="multiple"
    [globalFilterFields]="['id', 'tenderId', 'revisionName', 'created_at','total_price']">
    
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="
              myBids.filterGlobal(getEventValue($event), 'contains')
            "
            placeholder="Tabloda Ara..."
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
        <th pSortableColumn="tenderId">İhale No <p-sortIcon field="tenderId" /></th>
        <th pSortableColumn="revisionName">Revizyon No <p-sortIcon field="revisionName" /></th>
        <th pSortableColumn="created_at">Teklif Tarihi <p-sortIcon field="created_at" /></th>
        <th pSortableColumn="total_price">Toplam Bedel <p-sortIcon field="total_price" /></th>
        <th style="width: 20rem;">İşlem</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="id" placeholder="Ara..." ariaLabel="Id ile ara" />
        </th>
        <th>
          <p-columnFilter type="text" field="tenderId" placeholder="Ara..." ariaLabel="İhale Id ile ara" />
        </th>
        <th>
          <p-columnFilter type="text" field="revisionName" placeholder="Ara..." ariaLabel="Revizyon no ile ara" />
        </th>
        <th>
          <p-columnFilter type="text" field="created_at" placeholder="Ara..." ariaLabel="Tarih ile ara" />
        </th>
        <th>
          <p-columnFilter type="text" field="total_price" placeholder="Ara..." ariaLabel="Toplam Bedel ile ara" />
        </th>
        <th> </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bid>
      <tr>
        <td>{{ bid.id }}</td>
        <td>{{ bid.tenderId }} </td>
        <td>{{ bid.revisionName || "R1" }} </td>
        <td>{{ bid.created_at }}</td>
        <td>{{ bid.total_price }}</td>
        <td>
          <p-button
          type="button"
          severity="danger"
          icon="pi pi-trash"
          styleClass="m-2"
          pTooltip="Teklifi Sil"
          tooltipPosition="bottom" 
          (click)="deleteBid(bid.id, bid.tenderId)"
        ></p-button>
          <p-button
                type="button"
                icon="pi pi-eye"
                severity="secondary"
                tooltipPosition="bottom" 
                styleClass="m-2"
                pTooltip="Teklif Detayı"
                (click)="seeTenderBidDetails(bid)"
              ></p-button>
              <p-button
              type="button"
              severity="info"
              icon="pi pi-file-edit"
              pTooltip="Teklifi Düzenle"
              tooltipPosition="bottom" 
              styleClass="m-2"
              (click)="editBid(bid)"
            ></p-button>
            <p-button
              type="button"
              pTooltip="Yeni Teklif"
              tooltipPosition="bottom" 
              icon="pi pi-plus"
              styleClass="m-2"
              (click)="newBid(bid)"
            ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
}