@if (tender$ | async; as tender) {
  <div class="mb-5">
    <h2 class="p-2">{{ tender.name }} İhalesi Rapor Oluştur</h2>
  </div>

  <h4 class="mb-3">
    Lütfen Rapora eklenecek Teklifleri Seçiniz. Seçilen teklifler için,
    belirlediğiniz
    <a [routerLink]="['/ihale/ihale/' + tender.id + '/firma-raporlari/ayarlar']"
      >ayarlara</a
    >
    göre, ilişkili firmalara rapor gönderilecek raporlar oluşturulacaktır.
  </h4>
  <app-bids-table [compare]="showCompare" [bids$]="bids$" [tender]="tender"></app-bids-table>
}

<!-- <div class="flex justify-content-end mt-5">
    <p-button pRipple label="Oluştur" icon="pi pi-send" class="mx-5"></p-button>
    <p-button pRipple label="Gönder" icon="pi pi-send" class="mx-5"></p-button>
</div> -->
