@if(currentBid$ | async; as currentBid) {
  <app-teklif-detay [bid]="currentBid"></app-teklif-detay>



<div class="flex justify-content-end">
  <p-button
    label="Geri"
    icon="pi pi-arrow-left"
    severity="secondary"
    class="mx-2"
    [routerLink]="['/teklifci/teklif-olustur/kesif']"
  ></p-button>
@if(currentBid.isEditMode) {
  <p-button
  label="Teklifi Güncelle"
  icon="pi pi-check"
  severity="success"
  (click)="updateBid()"
></p-button>
}
@else {
  <p-button
  label="Teklif Ver"
  icon="pi pi-check"
  severity="success"
  (click)="createBid()"
></p-button>
}
 


</div>

}
