<app-ihale-olustur></app-ihale-olustur>
@if(tenderId) {
  <div class="flex justify-content-end gap-2 m-1">
    <p-dropdown 
    [options]="revisions" 
    [(ngModel)]="selectedRevision" 
    optionLabel="name"
    placeholder="Revizyon" />
    <p-button
    label="Revizyon Oluştur"
    icon="pi pi-plus"
    (onClick)="createRevision()"
  ></p-button> 
  </div>
}

<app-table [currency]="currency"></app-table>
<div class="flex justify-content-end">
  <p-button
    label="Geri"
    icon="pi pi-arrow-left"
    severity="secondary"
    class="mx-2"
    [routerLink]="['/ihale/ihale-olustur/ihale-bilgileri']"
  ></p-button>

  <p-button
    label="İlerle"
    icon="pi pi-arrow-right"
    [routerLink]="['/ihale/ihale-olustur/istenen-dokumanlar']"
  ></p-button>
</div>
