<app-ihale-olustur></app-ihale-olustur>
<div class="container mt-5">
    <p-messages [(value)]="messages" [enableService]="false" class="mb-3"></p-messages>
</div>
<div class="flex">
    <div class="col-6 col-offset-3">
        <div class="field">
            <label for="firstname1">Talep Edilen Bilgi /
                Evrak</label>
            <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field">
            <label for="lastname1">İstenilen Biçim</label>
            <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field">
            <p-button pRipple label="Ekle" icon="pi pi-plus" severity="success"></p-button>
        </div>
        
    
    <div class="flex justify-content-end mt-5">
        <p-button label="Geri" icon="pi pi-arrow-left" severity="secondary" [routerLink]="['/ihale/ihale-olustur/kesif-olustur']"></p-button>
        <p-button pRipple label="İlerle" icon="pi pi-arrow-right" class="mx-3" [routerLink]="['/ihale/ihale-olustur/teklifci-ekleme']"></p-button>
    </div>
    </div>
</div>
