<app-ihale-olustur></app-ihale-olustur>
<div class="container mt-5">
    <p-messages [(value)]="messages" [enableService]="false" class="mb-3"></p-messages>
</div>
<div class="card flex justify-content-center border-1 border-solid surface-border border-round bg-white">
    <div class="flex-1 m-2 px-5 py-3">
        
        <div class="field">
            <label>Talep Edilen Bilgi /
                Evrak</label>
            <input type="text" #evrakInput class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field">
            <label>İstenilen Biçim</label>
            <input type="text" #bicimInput class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    
    
    </div>
    <div class="flex-1 justify-content-center">
        <div class="field">
            <p-button icon="pi pi-plus" severity="success" (onClick)="evrakEkle(evrakInput.value,bicimInput.value); evrakInput.value=''; bicimInput.value='';" ></p-button>
        </div>
    </div>

    <div class="flex-1 m-2 px-5 py-3">
        <div class="field">
            @if(evraklar.length>0) {
                <table>
                    <thead>
                        <tr>
                            <th>Evrak Adı</th>
                            <th>Biçim</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(evrak of evraklar; track evrak;) {
                            <tr>
                                <td>{{evrak.evrak}}</td>
                                <td>{{evrak.bicim}}</td>
                                <p-button pRipple icon="pi pi-trash" severity="danger" class="m-1" (click)="evrakSil(evrak.id)"></p-button>

                            </tr>
                        }
                    </tbody>
                </table>

            }
                
        </div>
    </div>
</div>
<div class="flex justify-content-end mt-5">
    <p-button label="Geri" icon="pi pi-arrow-left" severity="secondary" [routerLink]="['/ihale/ihale-olustur/kesif-olustur']"></p-button>
    <p-button pRipple label="İlerle" icon="pi pi-arrow-right" class="mx-3" [routerLink]="['/ihale/ihale-olustur/teklifci-ekleme']"></p-button>
</div>

