table, thead, tbody, tr, th, td {
    border-collapse: collapse;
    padding:0.75rem;

}
table {
    width: 100%;
}

.table-grid {
    width: 100%;
    td,
    th {
      padding: 0.75rem;
      border-bottom: 1px solid var(--surface-300);
    }
    tr:hover {
      background-color: var(--surface-100);
    }
  }

  
