<app-ihale-olustur></app-ihale-olustur>
<div class="container mt-5">
    <p-messages [(value)]="messages" [enableService]="false" class="mb-3"></p-messages>
</div>

<div class="card">
    @if(bidders$|async; as bidders) {
        <p-pickList [source]="bidders" [target]="selectedBidders" sourceHeader="Tüm Teklifçiler" targetHeader="Seçilenler" [dragdrop]="true" [responsive]="true"
        [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">

        <ng-template let-bidder pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold"> {{ bidder.name }} {{ bidder.surname }}</span>
                    <div class="flex align-items-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>{{ bidder.email }} {{ bidder.phoneNumber }}</span>
                    </div>
                </div>
                <span class="font-bold text-900">{{ bidder?.company?.name }}</span>
            </div>

        </ng-template>
    </p-pickList>

    }
</div>

<div class="flex justify-content-end mt-5">
    <p-button label="Geri" icon="pi pi-arrow-left" severity="secondary" [routerLink]="['/ihale/ihale-olustur/istenen-dokumanlar']"></p-button>
    <p-button pRipple label="İhale Oluştur" icon="pi pi-check" class="mx-3"  (click)="onSubmit()"></p-button>
    <p-button pRipple label="İhale Oluştur Yeni" icon="pi pi-check" class="mx-3"  (click)="createTender()"></p-button>
</div>


<!-- İhale Oluşturuluyor Durum -->
<p-dialog header="Durum" [(visible)]="isModalVisible" [modal]="true"  [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="card flex justify-content-center" >
        <p-messages [(hidden)]="isLoading" [(value)]="messages2" [enableService]="false" class="mb-3"></p-messages>
        <p-progressSpinner [(hidden)]="!isLoading"  styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        <p-button label="OK" icon="pi pi-check" severity="info" (click)="isModalVisible=false"></p-button>
    </div>
</p-dialog>