@if (tender$ | async; as tender) {
  <div class="container mb-5">
    <h2 class="p-2">{{ tender?.name }} İhalesi Revizyonları</h2>
  </div>
  <p-table [value]="tender.revisions || []">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Oluşturulma Tarihi</th>
        <th>İşlemler</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-revision>
      <tr>
        <td>{{ revision?.id }}</td>
        <td>{{ revision?.created_at }}</td>
        <td>
          <p-button
            label="Görüntüle / Düzenle"
            icon="pi pi-file-edit"
            iconPos="right"
          />
          <p-button
            label="Sil"
            icon="pi pi-trash"
            iconPos="right"
            severity="danger"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <app-loading-spinner></app-loading-spinner>
}
