@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";

 .p-steps .p-steps-item .p-menuitem-link {
     background-color: var(--surface-ground);
 }

 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  