@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";

.p-steps .p-steps-item .p-menuitem-link {
  background-color: var(--surface-ground);
}

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky !important;
  top: 0;
  z-index: 1000;
}
.relative {
  position: relative;
}
.abs {
  position: absolute;
  top: 0;
}
@media print {
  p-button {
    display: none;
  }
  app-navbar {
    display: none;
  }
}

body,
body .p-component
{
  font-size: 0.9rem;
}